<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button { background-color: #1c87c9; 
            border: none; 
            color: white; 
            padding: 20px 34px; 
            text-align: center; 
            text-decoration: none; 
            display: inline-block; 
            font-size: 20px; 
            margin: 4px 2px; 
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="/directors_rating/directores vs rating" class="button"> Directores vs su promedio de rating</a>
    <a href="/letters_in_tittle/letras en titulos" class="button"> Distribución de las letras en los titulos</a>
    <a href="/repeated_directors/directores" class="button"> Cantidad de peliculas dirgidas para cada director</a>
    <a href="/repeated_actors/actores" class="button"> Cantidad de apariciones por cada actor</a>
</body>
</html>